.order-title {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.order-date {
  color: gray;
}
.order-card-header {
  background-color: #fff !important;
}

.card-body-p-2 {
  padding: 4px 10px !important;
}

.deliveryman-profile-image {
  width: 70px;
  height: 70px;
  text-align: center;
}

.deliveryman-name .store-name {
  font-size: 14px !important;
}
.deliveryman-details,
.store-details {
  font-size: 12px !important;
}

.icon-dman,
.icon-sman {
  margin-right: 4px !important;
}

.theme-text-title , .theme-text-value {
  font-size: 15px !important;
}


.noData-text{
  font-size: 14px;
  font-weight: 600;
  margin: 12px 0px ;
  color: gray;
}
