<section>
  <div class="row justify-content-start align-items-center mb-3">
    <div
      class="col-4 col-xs-4 col-sm-4 col-md-6 col-lg-3 col-xl-4 col-xxl-5"
    >
      <span class="page-title"> Product's Gallery  </span>
      <span class="badge badge-dark custom-badge-count"> 5 </span>
    </div>
    <!-- <div
      class="col-8 col-xs-8 col-sm-8 col-md-6 col-lg-5 col-xl-5 col-xxl-4"
    >
      <div
        class="row height d-flex justify-content-center align-items-center"
      >
        <div class="col-12">
          <div class="search">
            <i class="fa fa-search"></i>
            <input
              type="text"
              class="form-control"
              placeholder="Search Here"
            />
            <button class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 col-xxl-3 mt-2 mt-lg-0"
    >
      <div
        class="row height d-flex justify-content-end align-items-center"
      >
        <div
          class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-end"
        >
          <div class="dropdown d-flex flex-row justify-content-end">
            <button
              class="btn btn-secondary btn-sm dropdown-toggle btn-report-color"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="mx-2"
                ><i class="fa fa-download fa-icon-size"></i></span
              >Export Report
            </button>
            <div
              class="dropdown-menu"
              aria-labelledby="dropdownMenuButton"
            >
              <span class="dropdown-item-title">Download Options</span>
              <a><hr class="mt-2 mb-0" /></a>
              <a class="dropdown-item"
                ><span
                  ><img
                    class="report-icon mx-1"
                    src="./../../../assets/icons/xls-file.png"
                    alt="Excel Report"
                /></span>
                Excel</a
              >
              <a class="dropdown-item"
                ><span
                  ><img
                    class="report-icon mx-1"
                    src="./../../../assets/icons/csv-file.png"
                    alt="Csv Report"
                /></span>
                .Csv</a
              >
            </div>
            <button
              type="button"
              class="btn btn-primary btn-sm btn-custom btn-size-100"
            >
              Add
            </button>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="row justify-content-start align-items-center my-2">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="card">
        <div class="card-header">
          <div class="row justify-content-start align-items-center">

            <div
              class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"
            >
              <div
                class="row height d-flex justify-content-center align-items-center"
              >
                <div class="col-12">
                  <div class="search">
                    <i class="fa fa-search"></i>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search Here"
                    />
                    <button class="btn btn-primary">Search</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row justify-content-start align-items-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="card">

        <div class="card-body">
          <div class="row justify-cont-center align-items-center mt-2 mb-3">
            <div
              class="col-12 col-xs-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3"
            >
            Product Image
            </div>
            <div
              class="col-12 col-xs-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9"
            >
              <div class="row">
                <div  class="col-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <div class="d-flex">
                    <span>PRODUCT Title</span>
                  </div>
                </div>
                <div  class="col-4 col-xs-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                  <div class="d-flex">
                    <span>PRODUCT Info</span>
                  </div>
                </div>
                <div  class="col-4 col-xs-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                  <div class="d-flex">
                    <span>PRODUCT Variants</span>
                  </div>
                </div>
                <div  class="col-4 col-xs-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                  <div class="d-flex">
                    <span>PRODUCT Tags</span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-2"
            >
              <div class="row">
                <div class="col-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <div class="label-input-group">
                    <div class="form-group">
                      <label for="title" class="label-title">Description</label>
                      <!-- <input type="text" class="form-control form-control-md" placeholder="Maximum Purchase"/>
                      <div class="d-flex flex-row error-box">
                        <span class="error-text pl-2">
                          <small>Please enter the required field.</small>
                        </span>
                      </div> -->
                    </div>
                  </div>
                  <hr class="mt-0 mb-2">
                </div>
                <div class="col-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <span>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. At aut illo fuga dolorem atque laboriosam veritatis odio ab quis perferendis asperiores aperiam eaque sed alias placeat est mollitia dolor, nihil voluptas. Eligendi quasi dolores harum, nesciunt eos expedita iure. Accusantium soluta odio totam quaerat.
                  </span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



