<!-- <p>add-banner works!</p> -->
<section>
  <div class="row justify-content-start align-items-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="card">
        <div class="card-header">
          <div class="row justify-content-start align-items-center">
            <div
              class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"
            >
              <span class="page-title"> Add New Deliveryman </span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="row justify-cont-center align-items-start mt-2 mb-3">
              <div
                class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8"
              >
                <div class="row justify-content-center align-items-center">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
                    <div class="label-input-group">
                      <div class="form-group">
                        <label for="title" class="label-title"
                          >First Name</label
                        >
                        <input
                          type="text"
                          class="form-control form-control-md"
                          placeholder="First Name"
                        />
                        <div class="d-flex flex-row error-box">
                          <span class="error-text pl-2">
                            <small>Please enter the required field.</small>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
                    <div class="label-input-group">
                      <div class="form-group">
                        <label for="title" class="label-title"
                          >Last Name</label
                        >
                        <input
                          type="text"
                          class="form-control form-control-md"
                          placeholder="Last Name"
                        />
                        <div class="d-flex flex-row error-box">
                          <span class="error-text pl-2">
                            <small>Please enter the required field.</small>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
                    <div class="label-input-group">
                      <div class="form-group">
                        <label for="title" class="label-title"
                          >Email Address</label
                        >
                        <input
                          type="text"
                          class="form-control form-control-md"
                          placeholder="Email Address"
                        />
                        <div class="d-flex flex-row error-box">
                          <span class="error-text pl-2">
                            <small>Please enter the required field.</small>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
                    <div class="label-input-group">
                      <div class="form-group">
                        <label for="title" class="label-title">Deliveryman Type</label>
                        <select
                          class="form-select form-select-md custom-form-select"
                          aria-label=".form-select-lg example"
                        >
                          <option selected>-- Select --</option>
                          <option value="1">Part-Timer</option>
                          <option value="2">Full-Timer</option>
                        </select>
                        <div class="d-flex flex-row error-box">
                          <span class="error-text pl-2">
                            <small>Please enter the required field.</small>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
                    <div class="label-input-group">
                      <div class="form-group">
                        <label for="title" class="label-title">Zone</label>
                        <select
                          class="form-select form-select-md custom-form-select"
                          aria-label=".form-select-lg example"
                        >
                        <option selected>-- Select --</option>
                        <option value="1">East</option>
                        <option value="2">West</option>
                        <option value="3">North</option>
                        <option value="4">South</option>
                        </select>
                        <div class="d-flex flex-row error-box">
                          <span class="error-text pl-2">
                            <small>Please enter the required field.</small>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
                    <div class="label-input-group">
                      <div class="form-group">
                        <label for="title" class="label-title">Deliveryman Vehicle</label>
                        <select
                          class="form-select form-select-md custom-form-select"
                          aria-label=".form-select-lg example"
                        >
                          <option selected>-- Select --</option>
                          <option value="1">Bicycle</option>
                          <option value="2">Bike</option>
                        </select>
                        <div class="d-flex flex-row error-box">
                          <span class="error-text pl-2">
                            <small>Please enter the required field.</small>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
                    <div class="d-flex flex-column">
                      <div class="label-input-group">
                        <div class="form-group">
                          <label for="title" class="label-title">Identity Type</label>
                          <select
                            class="form-select form-select-md custom-form-select"
                            aria-label=".form-select-lg example"
                          >
                            <option selected>-- Select --</option>
                            <option value="1">Passport </option>
                            <option value="2">PAN Card</option>
                            <option value="3">Adhaar Card</option>
                            <option value="4">Ration Card</option>
                          </select>
                          <div class="d-flex flex-row error-box">
                            <span class="error-text pl-2">
                              <small>Please enter the required field.</small>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="label-input-group">
                        <div class="form-group">
                          <label for="title" class="label-title"
                            >Identity Number</label
                          >
                          <input
                            type="text"
                            class="form-control form-control-md"
                            placeholder="Identity Number"
                          />
                          <div class="d-flex flex-row error-box">
                            <span class="error-text pl-2">
                              <small>Please enter the required field.</small>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
                    <div class="deliveryman-profile-image-preview">
                      <div class="form-group mt-3 mt-md-0">
                        <label for="formFile" class="form-label label-title"
                          >Identity Proof Attachment
                          <span class="required-star">* </span> </label
                        ><br />
                        <div class="d-block">
                          <img
                            class="img-ratio-area"
                            src="./../../../assets/images/image-preview.jpg"
                            alt=""
                            for="add-identity-proof"
                            id="add-identity-proof-attachment"
                          />
                          <input type="file" id="add-identity-proof" class="id-proof-file-input" (change)="uploadIdProofAttachment($event)"  accept="image/jpeg" />
                          <!-- <input type="file" (change)="fileChangeEvent($event)" /> -->

                          <!-- <image-cropper
                            [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true"
                            [aspectRatio]="16 / 9"
                            format="png"
                            hideResizeSquares
                            (imageCropped)="imageCropped($event)"
                            (imageLoaded)="imageLoaded()"
                            (cropperReady)="cropperReady()"
                            (loadImageFailed)="loadImageFailed()"
                          ></image-cropper> -->

                          <!-- <img [src]="croppedImage" /> -->
                        </div>
                        <div class="d-flex flex-row error-box">
                          <span class="error-text pl-2">
                            <small>Please enter the required field.</small>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div
                class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4"
              >
                <div class="row justify-content-center align-items-start">
                  <div class=" col-12 deliveryman-profile-image-preview">
                    <div class="form-group text-center mt-3 mt-md-0">
                      <label for="formFile" class="form-label label-title"
                        >Deliveryman Image Preview
                        <span class="required-star">* (Ratio 1:1)</span> </label
                      ><br />
                      <div class="d-block">
                        <img
                          class="img-ratio-area"
                          src="./../../../assets/images/image-preview.jpg"
                          alt=""
                        />
                        <!-- <input type="file" (change)="fileChangeEvent($event)" /> -->

                        <!-- <image-cropper
                          [imageChangedEvent]="imageChangedEvent"
                          [maintainAspectRatio]="true"
                          [aspectRatio]="16 / 9"
                          format="png"
													hideResizeSquares
                          (imageCropped)="imageCropped($event)"
                          (imageLoaded)="imageLoaded()"
                          (cropperReady)="cropperReady()"
                          (loadImageFailed)="loadImageFailed()"
                        ></image-cropper> -->

                        <!-- <img [src]="croppedImage" /> -->
                      </div>
                      <div class="d-flex flex-row error-box">
                        <span class="error-text pl-2">
                          <small>Please enter the required field.</small>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="label-input-group">
                    <div class="form-group">
                      <label for="formFile" class="form-label label-title"
                        >Banner Image</label
                      >
                      <input
                        class="form-control"
                        type="file"
                        id="formFile"

                      />
                      <div class="d-flex flex-row error-box">
                        <span class="error-text pl-2">
                          <small>Please enter the required field.</small>
                        </span>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-12">
                    <div class="label-input-group">
                      <div class="form-group">
                        <label for="title" class="label-title"
                          >Contact No. / Username</label
                        >
                        <input
                          type="text"
                          class="form-control form-control-md"
                          placeholder="Username"
                        />
                        <div class="d-flex flex-row error-box">
                          <span class="error-text pl-2">
                            <small>Please enter the required field.</small>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="label-input-group">
                      <div class="form-group">
                        <label for="title" class="label-title"
                          >Password</label
                        >
                        <input
                          type="text"
                          class="form-control form-control-md"
                          placeholder="Password"
                        />
                        <div class="d-flex flex-row error-box">
                          <span class="error-text pl-2">
                            <small>Please enter the required field.</small>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="label-input-group">
                      <div class="form-group">
                        <label for="title" class="label-title"
                          >Confirm Password</label
                        >
                        <input
                          type="text"
                          class="form-control form-control-md"
                          placeholder="Confirm Password"
                        />
                        <div class="d-flex flex-row error-box">
                          <span class="error-text pl-2">
                            <small>Please enter the required field.</small>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-3"
              >
                <div
                  class="d-flex flex-row justify-content-end align-items-center"
                >
                  <button
                    type="button"
                    class="btn btn-danger btn-md mr-3 btn-text-white btn-size-100"
                  >
                    Cancel
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary btn-md btn-size-100"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

