.banner-preview {
  height: 220px;
}

.card-image-body {
  height: 500px;
}


.deliveryman-profile-image-preview {

}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .banner-preview {
    height: 220px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .banner-preview {
    height: 220px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner-preview {
    height: 186px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner-preview {
    height: 282px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .banner-preview {
    height: 282px;
  }
  .card-image-body {
    height: 450px;
  }

  .deliveryman-profile-image-preview{
    height: 187px;
  }
  .deliveryman-identity-proof-preview{
    height: 187px;
  }
}
